@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
html{

    font-size: 10px;
}
body{

    
    background-image: url('../img/background.jpg');
    background-size: 100%;
    font-family: "Poppins", sans-serif;
    
    
}
.navbar{
    font-family: "Poppins", sans-serif;
    background-color: goldenrod;
    color: white;
}
.navbar-brand{
top: 0px;


}
.bg-primary {
    background-color: goldenrod!important;
    color: silver;
}
.nav-link ul li a {
    background-color: silver!important;
}
.panel-primary > .panel-heading {
    color: #fff;
    background-color: goldenrod;
    border-color: gold;
}
